/* General Tags  */

h1 {
    text-align: center;
    padding: 5%;
}


/* layouts -> app.blade.php Tags   */

.content 
{
    padding: 0% 25%;
}

.footer
{
    background-color: lightgrey;
    text-align: center;
    margin: auto;
    padding-top: 15px;
    height: 50px;
}